* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* All CSS relating to loader is 99% directly from a tutorial. See README credits. */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: '';
  width: 75px;
  height: 75px;
  border: 15px solid #ddd;
  border-top-color: #0aff0a;
  border-right-color: black;
  border-left-color: black;
  border-bottom-color: red;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

/* Background canvas */
#canvas2 {
  background: black;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h1,
h2,
p {
  text-align: center;
}

h1 {
  margin-top: 5px;
  color: red;
  font-family: "Kaushan Script", cursive;

}

h2 {
  color: red;
  font-family: "Kaushan Script", cursive;
}

p {
  color: white;
  font-family: "Open Sans", sans-serif;
}

.nav-link {
  margin: 10px;
  font-size: 20px;
}

.tab-pane {
  background-color: rgba(0, 0, 0, 0.5);
  max-height: 100px;
  overflow-y: auto;
}

/* The dividers in the Controls tab */
.divider {
  border: 1px solid white;
  margin: 10px auto;
  max-width: 500px;
}

/* Game canvas */
#canvas1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid white;
  max-width: 100%;
  max-height: 100%;
}

/* The Game tab nav menu */
.dropdown {
  position: absolute;
  top: 5px;
  left: 5px;
  font-family: 'Open Sans', sans-serif;
}

/* Game images */
#player,
#layer1,
#layer2,
#layer3,
#layer4,
#zombie1,
#zombie2 {
  display: none;
}

/* 404 PAGE */
.no-page-header {
  height: 100vh;
  background-image: url(./images/coder-samurai.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  z-index: -1;
}

.hero-text {
  z-index: 2;
  text-align: center;
}

.hero-text h1 {
  font-size: 48px;
  color: white;
}

.hero-text h2 {
  font-size: 36px;
  color: red;
  margin: 30px auto;
}

.hero-text a {
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.hero-text a:hover {
  color: yellow;
  text-decoration: none;
}

/* MEDIA QUERIES IN MIN-HEIGHT ORDER */

/* Galaxy S8 landscape*/
@media (min-height: 350px) {
  h1 {
    color: gold;
    margin-top: 5px;
  }

  .tab-pane {
    max-height: 150px;
  }
}

/* iPhone 12 Pro landscape */
@media (min-height: 380px) {
  h1 {
    color: orangered;
  }

  .nav-link {
    margin: 0 15px;
    font-size: 15px;
  }

  .tab-pane {
    max-height: 200px;
  }
}

/* Samsung Galaxy S20, iPhone 14 Pro Max landscape */
@media (min-height: 400px) {
  h1 {
    color: green;
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  .nav-link {
    margin: 0 15px;
    font-size: 15px;
  }

  .tab-pane {
    max-height: 220px;
  }
}

/* PC 1280 x 720px */
@media (min-height: 540px) {
  h1 {
    color: lightsalmon;
    margin-top: 10px;
  }

  .tab-pane {
    max-height: 350px;
  }

  #canvas1 {
    top: 60%;
  }
}

@media (min-height: 540px) and (min-width: 700px) {
  #canvas1 {
    top: 50%;
    max-height: 80%;
  }
}

/* Redmi 10 portrait */
@media (min-height: 700px) {
  h1 {
    color: lightblue;
    margin-top: 10px;
  }

  .tab-pane {
    max-height: 450px;
    margin-top: 50px;
  }

  #canvas1 {
    top: 58%;
  }
}

/* Galaxy S8 portrait */
@media (min-height: 740px) {
  h1 {
    color: gold;
    margin-top: 40px;
  }
}

/* iPhone 12 Pro portrait */
@media (min-height: 820px) {
  h1 {
    color: aquamarine;
  }

  .tab-pane {
    margin-top: 5px;
    max-height: 500px;
  }
}

/* Samsung Galaxy S20 Ultra, iPhone 14 Pro Max Portrait */
@media (min-height: 900px) {
  h1 {
    color: blue;
  }

  .tab-pane {
    margin-top: 80px;
  }

  #canvas1 {
    top: 60%;
  }
}

/* iPad Mini portrait */
@media (min-height: 1000px) {
  h1 {
    color: pink;
    font-size: 36px;
  }

  .tab-pane {
    margin-top: 100px;
  }

  #canvas1 {
    top: 55%;
  }
}

/* iPad Pro landscape */
@media (min-height: 1000px) {
  h1 {
    color: gray;
    margin-bottom: 20px;
    font-size: 48px;
  }

  p {
    font-size: 24px;
  }

  .nav-link {
    font-size: 36px;
    margin: 50px 50px;
  }

  .tab-pane {
    margin-top: 60px;
  }

  #canvas1 {
    top: 58%;
    max-height: none;
  }
}

/* iPad Pro Portrait */
@media (min-height: 1300px) {
  h1 {
    color: white;
  }

  .tab-pane {
    max-height: none;
  }
}