* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* All CSS relating to loader is 99% directly from a tutorial */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: '';
  width: 75px;
  height: 75px;
  border: 15px solid #ddd;
  border-top-color: #0aff0a;
  border-right-color: black;
  border-left-color: black;
  border-bottom-color: red;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

#canvas2 {
  background: black;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h1,
h2,
h3,
p {
  text-align: center;
  color: white;
}

h1 {
  margin-top: 50px;
  color: red;
}

h2 {
  color: red;
}

.nav-link {
  margin: 15px;
  font-size: 20px;
}

.tab-pane {
  border: 3px solid purple;
  background-color: rgba(0, 0, 0, 0.5);
  /* max-height: 400px; */
  overflow-y: auto;
}

.divider {
  border: 1px solid white;
  margin: 10px auto;
  max-width: 500px;
}

#canvas1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid white;
  max-width: 100%;
  max-height: 100%;
}

#fullScreenButton {
  display: none;
  /* position: absolute;
  font-size: 20px;
  padding: 10px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2; */
}

#player,
#layer1,
#layer2,
#layer3,
#layer4,
#zombie1,
#zombie2 {
  display: none;
}

/* MEDIA QUERIES IN MIN-HEIGHT ORDER */

/* Galaxy S8 landscape*/
@media (min-height: 350px) {
  h1 {
    color: gold;
    margin-top: 5px;
  }

  .tab-pane {
    max-height: 150px;
  }
}

/* iPhone 12 Pro landscape */
@media (min-height: 380px) {
  h1 {
    color: orangered;
  }

  .nav-link {
    margin: 0 15px;
    font-size: 15px;
  }

  .tab-pane {
    max-height: 200px;
  }
}

/* Samsung Galaxy S20, iPhone 14 Pro Max landscape */
@media (min-height: 400px) {
  h1 {
    color: green;
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  .nav-link {
    margin: 0 15px;
    font-size: 15px;
  }

  .tab-pane {
    max-height: 220px;
  }
}

/* PC 1280 x 720px */
@media (min-height: 540px) {
  h1 {
    color: lightsalmon;
    margin-top: 10px;
  }

  .tab-pane {
    max-height: 350px;
  }

  #canvas1 {
    top: 60%;
  }
}

@media (min-height: 540px) and (min-width: 700px) {
  #canvas1 {
    top: 50%;
    max-height: 80%;
  }
}

/* iPad Mini landscape */
@media (min-height: 700px) {
  h1 {
    color: lightblue;
    margin-top: 10px;
  }

  .tab-pane {
    max-height: none;
    margin-top: 50px;
  }

  #canvas1 {
    top: 58%;
  }
}

/* Galaxy S8 portrait */
@media (min-height: 740px) {
  h1 {
    color: gold;
    margin-top: 40px;
  }

  .tab-pane {
    max-height: 350px;
  }
}

/* iPhone 12 Pro portrait */
@media (min-height: 820px) {
  h1 {
    color: aquamarine;
  }

  .tab-pane {
    margin-top: 5px;
    max-height: 500;
  }
}

/* Samsung Galaxy S20 Ultra, iPhone 14 Pro Max */
@media (min-height: 900px) {
  h1 {
    color: blue;
  }

  .tab-pane {
    margin-top: 80px;
  }

  #canvas1 {
    top: 60%;
  }
}

/* iPad Mini portrait */
@media (min-height: 1000px) {
  h1 {
    color: pink;
    font-size: 36px;
  }

  .tab-pane {
    margin-top: 100px;
  }

  #canvas1 {
    top: 55%;
  }
}

/* iPad Pro landscape */
@media (min-height: 1000px) {
  h1 {
    color: gray;
    margin-bottom: 20px;
    font-size: 48px;
  }

  p {
    font-size: 24px;
  }

  .nav-link {
    font-size: 36px;
    margin: 50px 50px;
  }

  .tab-pane {
    margin-top: 60px;
  }

  #canvas1 {
    top: 58%;
    max-height: none;
  }
}