* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas2 {
  background: black;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h1,
h2,
h3,
p {
  text-align: center;
  color: white;
}

h1 {
  margin-top: 50px;
  color: red;
}

h2 {
  color: red;
}

.nav-link {
  margin: 15px;
  font-size: 20px;
}

.tab-pane {
  border: 3px solid purple;
  background-color: rgba(0, 0, 0, 0.5);
  /* Going to have to media query the fuck out of this */
  max-height: 400px;
  /* max-width: 500px; */
  overflow-y: auto;
}

.divider {
  border: 1px solid white;
  margin: 10px auto;
  max-width: 500px;
}

#canvas1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid white;
  max-width: 100%;
  max-height: 100%;
}

#fullScreenButton {
  display: none;
  /* position: absolute;
  font-size: 20px;
  padding: 10px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2; */
}

#player,
#layer1,
#layer2,
#layer3,
#layer4,
#zombie1,
#zombie2 {
  display: none;
}

/* ------------------------------ Media Queries */

/* Default is for 360 x 740 (Galaxy S8) */

/* iPhone 12 Pro */

@media (max-width: 395px) and (min-height: 820px) {
  h1 {
    color: blue;
  }

  .tab-pane {
    max-height: 520px;
  }
}

@media (max-height: 395px) and (min-width: 820px) and (orientation: landscape) {
  h1 {
    color: orange;
    margin-top: 5px;
  }

  .nav-link {
    margin: 0 15px;
    font-size: 15px;
  }

  .tab-pane {
    max-height: 200px;
  }
}

/* Samsung Galaxy S20 Ultra, iPhone 14 Pro Max */

@media (max-width: 430px) and (min-height: 900px) {
  h1 {
    color: blue;
  }

  .tab-pane {
    max-height: none;
  }
}

@media (max-height: 430px) and (min-width: 900px) and (orientation: landscape) {
  h1 {
    color: green;
    margin-top: 5px;
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  .nav-link {
    margin: 0 15px;
    font-size: 15px;
  }

  .tab-pane {
    max-height: 250px;
  }
}

/* iPad Mini */

@media (min-height: 1000px) {
  h1 {
    color: pink;
  }

  .tab-pane {
    max-height: none;
  }
}

@media (max-height: 820px) and (min-width: 1000px) and (orientation: landscape) {
  h1 {
    color: green;
    margin-top: 10px;
    /* font-size: 36px; */
  }

  h2 {
    /* font-size: 24px; */
  }

  .nav-link {
    /* margin: 0 15px;
    font-size: 15px; */
  }

  .tab-pane {
    max-height: none;
    margin-top: 50px;
  }

  #canvas1 {
    top: 58%;
  }
}

/* iPad Pro */

@media (min-height: 1300px) {
  h1 {
    color: yellow;
  }

  .tab-pane {
    /* max-height: none; */
    margin-top: 200px;
  }
}

@media (min-height: 1000px) and (min-width: 1300px) and (orientation: landscape) {
  h1 {
    color: red;
    margin-bottom: 20px;
    font-size: 48px;
  }

  h2 {
    /* font-size: 24px; */
  }

  p {
    font-size: 20px;
  }

  .nav-link {
    /* margin: 0 15px;
    font-size: 15px; */
  }

  .tab-pane {
    margin-top: 60px;
  }

  #canvas1 {
    top: 58%;
  }
}